# hidden files and folders
.*

# vscode
!.vscode/

# github
!.github/

# configuration
!.gitignore
!.gitattributes
!.editorconfig
!.taplo.toml
!.gitkeep
!.containerignore
!.releaserc*
!.shellcheckrc

# node (semantic-release)
node_modules/
package-lock.json

# log files
*.logs
*.log

# windows crap
Thumbs.db

# documentation
docs/site
